.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6
    
    h1 {
        padding: 20px;
    }

    h3 {
        padding: 15px;
    }
}